<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">TRT Conseil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					{% if app.user.roles[0] != 'ROLE_CONSULTANT' %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('annonce.index')}}">Annonces</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('user.index')}}">Mon compte</a>
					</li>
					{% if app.user.roles[0] == 'ROLE_RECRUTEUR' %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('annonce.liste')}}">Mes annonces</a>
						</li>
					{% endif %}
					{% if app.user.roles[0] == 'ROLE_CONSULTANT' %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('consultant.board')}}">Panneau de controle</a>
						</li>
					{% endif %}
					{% if app.user.roles[0] == 'ROLE_ADMIN' %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('admin.index')}}">Panneau de controle administrateur</a>
						</li>
					{% endif %}
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('annonce.index')}}">Annonces</a>
					</li>
				{% endif %}
			</ul>
			{% if app.user %}
				{% if app.user.name != null and app.user.roles[0] != 'ROLE_CANDIDAT' %}
					<span class="text-white mx-5">Bonjour
						{{ app.user.name }}
						.</span>
				{% elseif app.user.firstName != null%}
					<span class="text-white mx-5">Bonjour
						{{ app.user.firstName }}
						.</span>
				{% endif %}
				<a href="{{path('security.logout')}}" class="btn btn-warning">Se deconnecter</a>
			{% else %}
				<a href="{{path('security.login')}}" class="btn btn-success mx-2">Se connecter</a>
				<a href="{{path('security.registration')}}" class="btn btn-info">S'inscrire</a>
			{% endif %}
		</div>
	</div>
</nav>
