{% extends 'base.html.twig' %}

{% block title %}
	Panneau de controle
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<h1 class="text-center">PANNEAU DE CONTROLE</h1>
		{% for message in app.flashes('danger')%}
			<div class="alert alert-danger mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success')%}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
	</div>
	{% if user.isValid != 0 %}
		<div class="container mt-4">
			<div class="row mt-4">
				<div class="col">
					<a href="{{ path('consultant.listeUser') }}" class="btn btn-success btn-lg w-100">Candidats / Recruteurs  (
						{{ nbUser }}
						à valider)</a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<a href="{{ path('consultant.listeAd') }}" class="btn btn-success btn-lg w-100">Annonces  (
						{{ nbAd }}
						à valider)</a>
				</div>
				<div class="col">
					<a href="listeCandidature" class="btn btn-success btn-lg w-100">Candidatures ( {{ nbCandidature }} à valider )</a>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container mt-4">
			<div class="alert alert-danger mt-4">
				Vote compte est désactivé.
			</div>
		</div>
	{% endif %}
{% endblock %}
