{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Mon compte</h1>
		{% for message in app.flashes('danger')%}
			<div class="alert alert-danger mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success')%}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table table-striped ">
			<tbody>
				<tr class="table-primary">
					<td class="text-left col-md-2">
						EMAIL
					</td>
					<td class="text-left">{{ user.email }}</td>
				</tr>
				<tr class="table-primary">
					<td class="text-left">
						NOM
					</td>
					<td class="text-left">{{ user.name }}</td>
				</tr>
				{% if app.user.roles[0] == 'ROLE_CANDIDAT' %}
					<tr class="table-primary">
						<td class="text-left">
							PRENOM
						</td>
						<td class="text-left">{{ user.firstname }}</td>
					</tr>

					<tr class="table-primary">
						<td class="text-left">
							MON CV
						</td>
						<td class="text-left">
							{% if user.cv != null %}
								<a href="{{ '/uploads/' ~ user.cv }}">Télécharger</a>
							{% else %}
							Aucun
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if app.user.roles[0] == 'ROLE_RECRUTEUR' %}
					<tr class="table-primary">
						<td class="text-left">
							ADRESSE
						</td>
						<td class="text-left">{{ user.address }}</td>
					</tr>
				{% endif %}
				<tr class="table-primary">
					<td class="text-left">
						DATE DE CREATION
					</td>
					<td class="text-left">{{ user.createdAt|date('d/m/Y')}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container text-center">
		{% if app.user.roles[0] == 'ROLE_RECRUTEUR' %}
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">Supprimer</button>
			{% block modal %}
				{% include "partials/_modal.html.twig" %}
			{% endblock %}
			<a href="{{path('user.edit', {id: user.id})}}" class="btn btn-warning">Modifier</a>
		{% endif %}
		{% if app.user.roles[0] == 'ROLE_CANDIDAT' %}
			<a href="{{path('user.delete', {id: user.id})}}" class="btn btn-danger">Supprimer</a>
			<a href="{{path('user.edit', {id: user.id})}}" class="btn btn-warning">Modifier</a>
		{% endif %}
		{% if app.user.roles[0] == 'ROLE_CONSULTANT' %}
			<a href="{{path('user.edit', {id: user.id})}}" class="btn btn-warning">Modifier</a>
		{% endif %}
		{% if app.user.roles[0] == 'ROLE_ADMIN' %}
			<a href="{{path('admin.edit', {id: user.id})}}" class="btn btn-warning">Modifier</a>
		{% endif %}
	</div>
{% endblock %}
