{% extends 'base.html.twig' %}

{% block title %}
	Consultant
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="container mt-4">
			{% if user|length > 0 %}
				<h1>Référence du consultant:
					{{ user.id }}</h1>
				{% for message in app.flashes('danger')%}
					<div class="alert alert-danger mt-4">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('success')%}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}
				<table class="table table-striped ">
					<tbody>
						<tr class="table-primary">
							<td class="text-left">
								ACTIF
							</td>
							{% if user.isValid == 0 %}
								<td class="text-left">NON</td>
							{% else %}
								<td class="text-left">OUI</td>
							{% endif %}
						</tr>
						<tr class="table-primary">
							<td class="text-left col-md-2">
								STATUT
							</td>
							<td class="text-left">CONSULTANT</td>
						</tr>
						<tr class="table-primary">
							<td class="text-left col-md-2">
								EMAIL
							</td>
							<td class="text-left">{{ user.email }}</td>
						</tr>
						<tr class="table-primary">
							<td class="text-left">
								NOM
							</td>
							<td class="text-left">{{ user.name }}</td>
						</tr>
						<tr class="table-primary">
							<td class="text-left">
								DATE DE CREATION
							</td>
							<td class="text-left">{{ user.createdAt|date('d/m/Y')}}</td>
						</tr>
					</tbody>
				</table>
			{% else %}
				<div class="alert alert-dismissible alert-danger">
					<strong>Aucune offre trouvée</strong>
				</div>
			{% endif %}
		</div>
		<div class="container text-center">
			<a href="{{path('admin.detailAd',{'id': annonce.id})}}" class="btn btn-secondary">Retour</a>
			<a href="{{path('admin.consultantDelete',{'id': user.id})}}" class="btn btn-danger">Supprimer</a>
			{% if user.isValid == 0 %}
				<a href="{{path('admin.consultantActivate',{'id': user.id})}}" class="btn btn-info">Activer</a>
			{% else %}
				<a href="{{path('admin.consultantDesactivate',{'id': user.id})}}" class="btn btn-warning">Désactiver</a>
			{% endif %}
		</div>
	{% else  %}
		<div class="container">
			{% include 'security/login.html.twig' %}
		</div>
	{% endif %}
{% endblock %}
